In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("ansiblecomplexclass.csv")

In [3]:
dataset.dropna(inplace=True)

In [4]:
dataset.head()

,noOfComments,bodyLength,bodyContent,AnsibleVersion,commentsSentimentValue,noOfevents,filteredUsers,noOfDevelopers,bugAuthor,labels,sameBugFixTime,timeToFix,sameBugFixTimeClass,timeToFixClass
0,2,4300,Unable to create KVM VMs by using proxmox_kvm ...,2.9,-0.937,6.0,mkrizek,1,hads0m,"affects_2.9,bug,support:core",0.330278,0.736944,1,1
1,2,521,Ansible ping unable to SSH to target host met ...,2.1,13.106,8.0,mkrizek,1,Ethns,"affects_2.1,bug,module,support:core,system",14.095556,0.198056,1,1
2,0,861,[stable-2.8] Fix ansible-test handling of user...,2.8,0.000,15.0,"mattclay,relrod",2,mattclay,"affects_2.8,backport,bug,core_review,support:c...",2.250278,2.296389,1,1
3,0,861,[stable-2.9] Fix ansible-test handling of user...,2.9,0.000,19.0,mattclay,1,mattclay,"affects_2.9,backport,bug,cloud,core_review,cry...",2.296389,2.250278,1,1
4,0,861,[stable-2.10] Fix ansible-test handling of use...,2.1,0.000,15.0,mattclay,1,mattclay,"affects_2.10,backport,bug,cloud,core_review,cr...",2.250278,2.330556,1,1

In [5]:
dataset=dataset.drop(['bodyContent','bodyLength','filteredUsers','labels','bugAuthor','commentsSentimentValue','sameBugFixTime','timeToFix'],axis=1)

In [6]:
dataset.shape

(1049, 6)

In [7]:
dataset.head()

,noOfComments,AnsibleVersion,noOfevents,noOfDevelopers,sameBugFixTimeClass,timeToFixClass
0,2,2.9,6.0,1,1,1
1,2,2.1,8.0,1,1,1
2,0,2.8,15.0,2,1,1
3,0,2.9,19.0,1,1,1
4,0,2.1,15.0,1,1,1

In [8]:
dataset.nunique()

noOfComments           24
AnsibleVersion         12
noOfevents             25
noOfDevelopers         11
sameBugFixTimeClass     6
timeToFixClass          6
dtype: int64

In [9]:
dataset.describe()

,noOfComments,noOfevents,noOfDevelopers,sameBugFixTimeClass,timeToFixClass
count,1049.000000,1049.000000,1049.000000,1049.000000,1049.000000
mean,2.360343,16.459485,3.571020,2.115348,2.102955
std,3.043544,6.277043,1.451164,1.369321,1.406392
min,0.000000,6.000000,1.000000,1.000000,1.000000
25%,0.000000,12.000000,3.000000,1.000000,1.000000
50%,2.000000,15.000000,3.000000,1.000000,1.000000
75%,3.000000,20.000000,4.000000,3.000000,3.000000
max,37.000000,30.000000,11.000000,6.000000,6.000000

In [10]:
min_threshold, max_threshold=dataset.noOfComments.quantile([0.02,0.98])
min_threshold , max_threshold

(0.0, 11.0)

In [11]:
dataset[dataset.noOfComments>max_threshold]

,noOfComments,AnsibleVersion,noOfevents,noOfDevelopers,sameBugFixTimeClass,timeToFixClass
188,13,2.9,20.0,4,1,2
198,12,2.11,30.0,2,1,5
199,13,2.11,30.0,1,1,5
246,14,2.9,28.0,4,2,5
269,23,2.11,14.0,4,2,5
376,15,2.9,16.0,5,1,3
385,12,2.9,30.0,7,2,3
420,29,2.9,20.0,5,2,2
434,15,2.11,30.0,4,2,4
535,16,2.9,23.0,7,1,3
645,12,2.11,30.0,3,1,5
732,19,2.11,30.0,6,1,4
746,21,2.11,30.0,10,1,3
778,12,2.11,30.0,2,2,4
824,12,2.9,10.0,6,1,5
826,14,2.11,30.0,5,1,5
841,37,2.11,30.0,6,2,6
998,24,2.9,26.0,9,1,6
1006,17,2.1,25.0,10,3,3
1050,13,2.9,30.0,6,2,4

In [12]:
dataset_filtered_comments=dataset[(dataset.noOfComments<max_threshold)]

In [13]:
dataset_filtered_comments.shape

(1023, 6)

In [14]:
min_threshold1, max_threshold1=dataset_filtered_comments.noOfevents.quantile([0.02,0.92])
min_threshold1 , max_threshold1

(7.0, 28.0)

In [15]:
dataset_filtered_comments[dataset_filtered_comments.noOfevents>max_threshold1]

,noOfComments,AnsibleVersion,noOfevents,noOfDevelopers,sameBugFixTimeClass,timeToFixClass
23,1,2.11,30.0,1,1,2
24,3,2.9,30.0,11,2,3
39,0,2.11,30.0,1,5,3
44,8,2.11,30.0,10,2,4
55,3,2.1,30.0,4,4,4
...,...,...,...,...,...,...
996,7,2.1,30.0,4,4,5
1001,8,P2,30.0,5,4,3
1056,8,2.1,30.0,4,1,3
1060,6,2.1,29.0,5,1,3
1070,3,2.1,30.0,3,3,4

In [16]:
dataset_filtered_events=dataset_filtered_comments[(dataset_filtered_comments.noOfevents<max_threshold1)]

In [17]:
dataset_filtered_events.shape

(940, 6)

In [18]:
min_threshold2, max_threshold2=dataset_filtered_events.noOfDevelopers.quantile([0.02,0.95])
min_threshold2 , max_threshold2

(1.0, 6.0)

In [19]:
dataset_filtered_events[dataset_filtered_events.noOfDevelopers>max_threshold2]

,noOfComments,AnsibleVersion,noOfevents,noOfDevelopers,sameBugFixTimeClass,timeToFixClass
342,2,2.1,26.0,7,4,3
347,5,2.9,20.0,7,1,3
350,8,2.9,22.0,9,1,4
403,2,2.11,24.0,7,2,1
437,1,2.11,22.0,7,3,1
458,4,2.9,20.0,7,1,2
474,3,2.11,18.0,7,1,3
489,5,2.9,18.0,7,2,1
531,4,2.11,25.0,7,1,4
572,4,2.11,22.0,7,1,1
624,4,2.11,24.0,7,1,2
707,9,2.9,16.0,7,4,2
828,6,2.11,17.0,9,1,5
849,0,2.11,17.0,7,3,1
872,2,2.11,23.0,8,1,1
931,1,2.11,19.0,7,2,1
935,6,2.9,21.0,7,2,6
1011,3,P3,21.0,9,2,3
1030,6,2.1,19.0,7,3,1
1041,6,2.9,18.0,7,1,2

In [20]:
dataset_filtered_all=dataset_filtered_events[(dataset_filtered_events.noOfDevelopers<max_threshold2)]

In [21]:
dataset_filtered_all.shape

(879, 6)

In [22]:
dataset_filtered_all.head()

,noOfComments,AnsibleVersion,noOfevents,noOfDevelopers,sameBugFixTimeClass,timeToFixClass
0,2,2.9,6.0,1,1,1
1,2,2.1,8.0,1,1,1
2,0,2.8,15.0,2,1,1
3,0,2.9,19.0,1,1,1
4,0,2.1,15.0,1,1,1

In [23]:
x=dataset_filtered_all.iloc[:,[0,2,3]].values
x_col=dataset_filtered_all.iloc[:,[0,2,3]]
y=dataset_filtered_all.iloc[:,[5]].values

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [26]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [27]:
from sklearn.ensemble import RandomForestClassifier

classifier=RandomForestClassifier(n_estimators=20)
classifier.fit(x_train,y_train)

<ipython-input-27-06142f7801ba>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(x_train,y_train)

RandomForestClassifier(n_estimators=20)

In [28]:
y_pred = classifier.predict(x_test)

In [33]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       0.64      0.83      0.72       104
           2       0.15      0.08      0.11        25
           3       0.22      0.12      0.16        16
           4       0.29      0.22      0.25        18
           5       0.00      0.00      0.00        11
           6       0.00      0.00      0.00         2

    accuracy                           0.53       176
   macro avg       0.22      0.21      0.21       176
weighted avg       0.45      0.53      0.48       176

c:\users\hasanga karunadasa\appdata\local\programs\python\python39\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\hasanga karunadasa\appdata\local\programs\python\python39\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\hasanga karunadasa\appdata\local\programs\python\python39\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [30]:
from sklearn.metrics import accuracy_score,mean_squared_error

In [31]:
print('Accuracy Score: ', accuracy_score(y_test,y_pred))

Accuracy Score:  0.5340909090909091

In [32]:
print(mean_squared_error(y_test,y_pred))

2.5795454545454546

<h1>Accuracy Score 52% when estimators = 20</h1>

In [34]:
x11=[[2,6,2]]
y_pred11 = classifier.predict(x11)
print(y_pred11)

[5]

In [36]:
datasetty=pd.read_csv("Book1.csv")
y_pred12 = classifier.predict(datasetty)
print(y_pred12)

[5 5 5 4 5 3]